<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/home" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="" class="nav-link">Contact</a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" role="button" id="botoncerrar">
                <p>Cerrar Sesion <i class="fa-solid fa-user-gear"></i></p>
                <script src="../js/sesion.js"></script>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- <img src="" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
    <a href="/home" class="brand-link">
        <!--<img src="/img/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-2" style="opacity: .8">-->
        <span class="brand-text font-weight-light" style="margin-left: 30%">CosmeTIC</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fa-solid fa-house"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/roles" class="nav-link">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <p>Roles</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/usuarios" class="nav-link">
                        <i class="nav-icon fa-solid fa-person"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/proveedores" class="nav-link">
                        <i class="nav-icon fa-solid fa-user-tie"></i>
                        <p>Proveedores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/compras" class="nav-link">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <p>Compras</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/categorias" class="nav-link">
                        <i class="nav-icon fa-solid fa-bookmark"></i>
                        <p>Categorias Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/productos" class="nav-link">
                        <i class="nav-icon fa-solid fa-truck-fast"></i>
                        <p>Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/clientes" class="nav-link">
                        <i class="nav-icon fa-solid fa-users"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/empleados" class="nav-link">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <p>Empleados</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pedidos" class="nav-link">
                        <i class="nav-icon fa-solid fa-truck-fast"></i>
                        <p>Pedidos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ventas" class="nav-link">
                        <i class="nav-icon fa-solid fa-money-check-dollar"></i>
                        <p>Ventas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pagos" class="nav-link">
                        <i class="nav-icon fa-solid fa-money-bills"></i>
                        <p>Pagos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/devoluciones" class="nav-link">
                        <i class="nav-icon fa-solid fa-rotate-left"></i>
                        <p>Devoluciones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/comisiones" class="nav-link">
                        <i class="nav-icon fa-solid fa-hand-holding-dollar"></i>
                        <p>Comisiones</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>